/* Reset to previous main.css state */
body.is-preload #banner > .inner {
    -moz-filter: blur(0.125em);
    -webkit-filter: blur(0.125em);
    -ms-filter: blur(0.125em);
    filter: blur(0.125em);
    -moz-transform: translateX(-0.5em);
    -webkit-transform: translateX(-0.5em);
    -ms-transform: translateX(-0.5em);
    transform: translateX(-0.5em);
    opacity: 0;
}

#banner h1 {
    font-size: 3.25em;
}

#banner:after {
    background-color: #004B72;
    opacity: 0.85;
}
## Updated at: 2025-02-07T18:49:14.219+00:00